body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  color: #fff;
  text-align: center;
}

header {
  background-color: #111;
  padding: 15px;
}

.card {
  background: #111;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.nav-buttons button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #cc0000;
}

/* Pantallas tipo app */
.pantalla {
  display: none;
}

.pantalla.activa {
  display: block;
}
